<div class="card mb-3">
	<div class="card-header">
		<h1 class="title">Clientes</h1>
	</div>
	<div class="card-body">
		<h5 class="card-title mb-4">Listado de Clientes</h5>
		<a routerLink='/clientes/form' class='btn btn-primary mb-4'>Crear Cliente</a>
		<table class="table table-striped" *ngIf="clientes?.length > 0 else sinClientes">
			<thead class="thead-dark">
				<tr>
					<th>Id</th>
					<th>Nombre</th>
					<th>Apellido</th>
					<th>Email</th>
					<th>Fecha</th>
					<th>Modificar</th>
					<th>Eliminar</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let cliente of clientes">
					<td>{{cliente.id}}</td>
					<td>{{cliente.nombre}}</td>
					<td>{{cliente.apellido}}</td>
					<td>{{cliente.email}}</td>
					<td>{{cliente.createAt}}</td>
					<td><a [routerLink]="['/clientes/form', cliente.id]" class="btn btn-warning">&raquo;</a></td>
					<td>
						<button class="btn btn-danger" (click)='delete(cliente.id)'>&Chi;</button>
					</td>
				</tr>
			</tbody>
		</table>
		<ng-template #sinClientes>
			<div class="card text-white bg-danger mb-3">
				<div class="card-body">
					<h5 class="card-title">Sin Información</h5>
					<p class="card-text">No se ha encontrado ningún cliente para mostrar</p>
				</div>
			</div>
		</ng-template>

	</div>
</div>